name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stage:
          - base
          - browser
          - node
          - offscreen
      fail-fast: false
    name: ${{ matrix.stage }} tests
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
        env:
          NODE_ENV: ${{ matrix.stage == 'base' && 'production' || 'development' }}
      - name: Run tests
        run: pnpm test:${{ matrix.stage }}
      - name: Collect coverage
        uses: codecov/codecov-action@v4
        if: success()
        with:
          flags: ${{ matrix.stage }}
          files: ./coverage/lcov.info
          fail_ci_if_error: false
      - name: Collect artifacts
        uses: actions/upload-artifact@v4
        if: "failure() && matrix.stage != 'base'"
        with:
          name: Image snapshots (${{ matrix.stage }})
          path: test/__image_snapshots__/
